<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarjeta</title>
    <%- include('../partials/head.ejs')-%>
    <style>
        body{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>

    <% if(info) { %>
        <div class="alert alert-info alert-dismissible fable show text-center">
            <%= info %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>        
        </div>
  <% }  %>

     <% for (let info of informacion) {%>

        <%= info.nombre %>


        <% } %> 

        <%- include('../partials/footer.ejs')-%>
</body>
</html>