<nav class="navbar navbar-light bg-light">
       <span class="navbar-brand"><i class="fas fa-money-check"></i> Import cards</span>
    <% if(user) {%>
        <a href="/cards/cerrarSession">
            <label for="title">Cerrar Session</label>
        </a>
        <% } %>
</nav>