<nav class="navbar navbar-light bg-light">
   <div class="container">
       <span class="navbar-brand"><i class="fas fa-money-check"></i> Import cards</span>
        <form action="#" method="POST" class="form-inline" id="form">
            <input type="search" name="search" id="search" class="form-control" placeholder="Nombre a buscar">
            <button class="btn  btn-success botton" type="submit">Buscar</button>
        </form>
    </div>
</nav>